<!DOCTYPE HTML>
<html>
<head>
  <title>Code Reviews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Code Reviews", root_path, :class => "brand" %>
      <% if loggedin? %>
      <%= render "/shared/home_nav" %>
      <% else %>
      <%= render "/shared/splash_nav" %>
      <% end %>
    </div>
  </div>
</div>


<%= yield %>

</body>
</html>
